body {
    text-align: center;
}

.startingIndexInput {
    padding: 20px;
}

mat-grid-list {
    width: 435px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    display: inline-flex;
}

mat-grid-tile {
    border-style: solid;
    border-width: 1px;
    text-align: auto;
}

.spriteContent {
    min-height:99%;
    min-width:99%;
}

.idxTile {
    font-family: 'helvetica';
    font-size: 22px;
}

.typesTile {
    font-family: 'helvetica';
    font-size: 18px;
}

.statsTile{
    font-size: 24px;
    text-align: right;
}

mat-spinner {
    margin:0 auto;
}