body {
    text-align: center;
}

mat-toolbar {
    padding-top: 20px;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-image: url(/assets/images/pokeball_banner.png);
}

.startingIndexInput {
    font-family: cursive;
    max-width: 180px;
}

header {
    margin-top: 65px;
    padding-top: 24px;
    background-image: url(/assets/images/pokemon_reigons_background_opacity_0_5.png);
}

.startingIndexInput {
    padding: 20px;
}

mat-grid-list {
    width: 435px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    display: inline-flex;
}

mat-grid-tile {
    border-style: solid;
    border-width: 1px;
    text-align: auto;
}

.nameTile {
    font-size: 24px;
}

.spriteContent {
    scale: 195%;
}

.idxTile {
    font-family: 'helvetica';
    font-size: 22px;
}

.typesTile {
    font-family: 'helvetica';
    font-style: italic;
    font-size: 16px;
}

.statsTile{
    font-size: 23px;
    text-align: right;
}

mat-spinner {
    margin:0 auto;
}