body {
    text-align: center;
}

mat-toolbar {
    padding-top: 20px;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0; /* glued to top of page */
    z-index: 1; /* lays on top of everything else */
    background-image: url(src/assets/pokeball_banner.png);
    background-position: center;
    background-size: auto 65px; /* (width height) */
}

.startingIndexInput {
    display: inline-block;
    font-family: 'Trebuchet MS';
    max-width: 180px;
    padding: 20px;
    size: 10%;
}

.title {
    display: inline-block;
    text-align: right;
}

header {
    margin-top: 65px;
    padding-top: 24px;
    background-image: url(src/assets/pokemon_reigons_background_opacity_0_5.png);
    /* background-position: center; */ /*this makes the bg freak out on loading more for some reason*/
}

mat-grid-list {
    width: 435px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    display: inline-flex;
}

mat-grid-tile {
    border-style: solid;
    border-width: 1px;
    text-align: auto;
}

.nameTile {
    font-size: 24px;
}

.spriteContent {
    scale: 195%;
}

.idxTile {
    font-family: 'Trebuchet MS';
    font-size: 22px;
}

.typesTile {
    font-family: 'helvetica';
    font-style: italic;
    font-size: 16px;
}

.statsTile{
    font-size: 23px;
    text-align: right;
    font-family: 'Trebuchet MS';
}

mat-spinner {
    margin:0 auto;
}